.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    position: relative;
    transition: transform 0.8s ease;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease; /* Add transition for sliding effect */
}

.carousel-slide {
    flex: 0 0 100%;
    height: 100vh;
    transition: transform 0.8s ease;
    position: relative; /* Add position relative to position the text */
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    text-align: center; /* Center the text within the slide */
}

.slide-text {
    color: white; /* Color of the text */
    z-index: 2; /* Ensure text is above the image */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
    position: absolute; /* Position text absolutely */
    top: 50%; /* Place text at vertical center */
    left: 50%; /* Place text at horizontal center */
    transform: translate(-50%, -50%); /* Adjust to center text */
}

.carousel-slide img {
    width: 100%;
    height: 68%;
    opacity: 0.8;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease; /* Add transition for button hover */
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
